#about{

    color: #000000;
    padding: 30px;
    margin-top: 30px;
    text-align: start;
    gap:0px
    
    
}
.intro{
    font-size: 50px;
    font-weight: 700;
    padding: 0px

}
.intro_2{
   

}